# Dependency directories
node_modules
.yarn
.pnp
.pnp.*

# Coverage directory used by testing tools
coverage

# Build Outputs
.prisma
.next
out
build
dist

# Debug Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Yarn Integrity file
.yarn-integrity

# Local dotenv environment variable files
**/.env*.local

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Next.js PWA files
**/public/sw.js*
**/public/workbox-*.js*
**/public/*-worker-*.js*

# Sentry Auth Token & Config File
.sentryclirc

# Misc
.DS_Store
*.pem
