# Ensures dependencies are installed in isolated node_modules (avoids hoisting)
node-linker=isolated

# Define the version prefix for installed packages (use ~ for patch updates)
save-prefix=~

# Enable colors in the terminal output
color=true
