.contact {
	.info-box {
		color: #444444;
		padding: 20px;
		width: 100%;
		background: rgba(255, 255, 255, 0.08);
		i {
			&.bx-i {
				font-size: 24px;
				color: #18d26e;
				border-radius: 50%;
				padding: 14px;
				float: left;
				background: rgba(255, 255, 255, 0.1);
			}
		}
		h3 {
			font-size: 22px;
			color: rgba(255, 255, 255, 0.5);
			font-weight: 700;
			margin: 10px 0 8px 68px;
		}
		p {
			padding: 0;
			color: #fff;
			line-height: 24px;
			font-size: 14px;
			margin: 0 0 0 68px;
		}
		.social-links {
			margin: 5px 0 0 68px;
			display: flex;
			a {
				font-size: 18px;
				display: inline-block;
				color: #fff;
				line-height: 1;
				margin-right: 12px;
				transition: 0.3s;
				&:hover {
					color: #18d26e;
				}
			}
		}
	}
	.contact-form {
		padding: 30px;
		background: rgba(255, 255, 255, 0.08);
		.error-message {
			background: rgba(255, 255, 255, 0.08);
			background: #ed3c0d;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.error-message br + br {
			margin-top: 25px;
		}
		.success-message {
			background: rgba(255, 255, 255, 0.08);
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			background: rgba(255, 255, 255, 0.08);
			text-align: center;
			padding: 15px;
			&:before {
				content: '';
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: #eee;
				-webkit-animation: animate-loading 1s linear infinite;
				animation: animate-loading 1s linear infinite;
			}
		}
	}
}

.credits {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 15px;
	text-align: right;
	font-size: 13px;
	color: #fff;
	z-index: 999999;
	a {
		color: #18d26e;
		transition: 0.3s;
		&:hover {
			color: #fff;
		}
	}
}

@media (max-width: 992px) {
	.credits {
		text-align: center;
		padding: 10px;
		background: rgba(0, 0, 0, 0.8);
	}
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
