/** @format */

*,
*::after,
*::before {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
	::-webkit-scrollbar {
		width: 7.5px;
	}
	::-webkit-scrollbar-thumb {
		background-color: rgba(0, 225, 255, 0.5);
		border-radius: 15px;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: rgb(0, 225, 255);
		border-radius: 15px;
	}
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 7.5px grey;
		background-color: rgba(30, 155, 204, 0.1);
		border-radius: 15px;
	}
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #272829;
}

a {
	color: #149ddd;
	text-decoration: none;
}

a:hover {
	color: #37b3ed;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #149ddd;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #2eafec;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	background: url('/images/other/Header.webp') no-repeat center center fixed;
	background-size: cover;
}

#hero:before {
	content: '';
	background: rgba(5, 13, 24, 0.3);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#hero .hero-container {
	position: relative;
	z-index: 2;
	min-width: 300px;
}

#hero h1 {
	margin: 0 0 10px;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
}

#hero p {
	color: #fff;
	margin-bottom: 50px;
	font-size: 26px;
	font-family: 'Poppins', sans-serif;
}

#hero p span {
	color: #fff;
	padding-bottom: 4px;
	letter-spacing: 1px;
	border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}
	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background: #f5f8fd;
}

.section-title {
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #173b6c;
}

.section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #149ddd;
	bottom: 0;
	left: 0;
}

.section-title p {
	margin-bottom: 0;
}
