/** @format */

.NotFound {
	height: 100vh;
	overflow: hidden;
	background: #121214;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	width: 100%;
	padding: 12px;
	perspective: 1000px;
	overflow-x: hidden;
	/* Overflow-y is optional */
	overflow-y: hidden;
}
.NotFound > div {
	display: flex;
	justify-content: center;
	width: 100%;
}
.NotFound > div svg {
	height: 100%;
}
.NotFound > div:nth-child(1) {
	opacity: 0;
	transform: translateZ(1000px);
	-webkit-animation: zoomFadeIn 5000ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	animation: zoomFadeIn 5000ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	transform-origin: center center;
}
.NotFound > div:nth-child(1) .error-1-e {
	transform: translateX(-50%);
	-webkit-animation: slideRight 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) -500ms forwards;
	animation: slideRight 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) -500ms forwards;
}
.NotFound > div:nth-child(1) .error-2-r {
	transform: translateY(-20%);
	-webkit-animation: slideDown 5000ms cubic-bezier(0.215, 0.61, 0.355, 1) -500ms forwards;
	animation: slideDown 5000ms cubic-bezier(0.215, 0.61, 0.355, 1) -500ms forwards;
}
.NotFound > div:nth-child(1) .error-4-o {
	transform: translateX(10%);
	-webkit-animation: slideLeftSmall 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) -300ms forwards;
	animation: slideLeftSmall 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) -300ms forwards;
}
.NotFound > div:nth-child(1) .error-5-r {
	transform: translateX(50%);
	-webkit-animation: slideLeft 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) -500ms forwards;
	animation: slideLeft 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) -500ms forwards;
}
.NotFound > div:nth-child(1) .error-2-0 {
	transform: translateY(20%);
	-webkit-animation: slideUp 5000ms cubic-bezier(0.215, 0.61, 0.355, 1) -500ms forwards;
	animation: slideUp 5000ms cubic-bezier(0.215, 0.61, 0.355, 1) -500ms forwards;
}
.NotFound > div:nth-child(1) .error-top {
	transform: scaleX(0);
	transform-origin: 163px 3px;
	-webkit-animation: scaleXIn 4500ms cubic-bezier(0.19, 1, 0.22, 1) 1500ms forwards;
	animation: scaleXIn 4500ms cubic-bezier(0.19, 1, 0.22, 1) 1500ms forwards;
}
.NotFound > div:nth-child(1) .error-left {
	transform: scaleX(0);
	transform-origin: 75px 3px;
	-webkit-animation: scaleXIn 4500ms cubic-bezier(0.19, 1, 0.22, 1) 1500ms forwards;
	animation: scaleXIn 4500ms cubic-bezier(0.19, 1, 0.22, 1) 1500ms forwards;
}
.NotFound > div:nth-child(1) .error-right {
	transform: scaleX(0);
	transform-origin: 250px 3px;
	-webkit-animation: scaleXIn 4500ms cubic-bezier(0.19, 1, 0.22, 1) 1500ms forwards;
	animation: scaleXIn 4500ms cubic-bezier(0.19, 1, 0.22, 1) 1500ms forwards;
}
.NotFound > div:nth-child(2) .quote-top,
.NotFound > div:nth-child(2) .quote-bottom {
	opacity: 0;
	-webkit-animation: slideUpFadeIn 1500ms cubic-bezier(0.215, 0.61, 0.355, 1) 4750ms forwards;
	animation: slideUpFadeIn 1500ms cubic-bezier(0.215, 0.61, 0.355, 1) 4750ms forwards;
}
.NotFound > div:nth-child(2) .quote-bottom {
	-webkit-animation-delay: 5750ms;
	animation-delay: 5750ms;
}
.NotFound > div:nth-child(3) .link-phrase,
.NotFound > div:nth-child(3) .link-mark {
	opacity: 0;
	-webkit-animation: slideUpFadeIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 6250ms forwards;
	animation: slideUpFadeIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 6250ms forwards;
}
.NotFound > div:nth-child(3) .link-mark {
	opacity: 0;
	-webkit-animation: fadeIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 6750ms forwards;
	animation: fadeIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 6750ms forwards;
}
.NotFound > div:nth-child(3) a {
	cursor: pointer;
	transition: all 500ms ease-out;
}
.NotFound > div:nth-child(3) a .top use {
	transition: all 150ms ease-out;
}
.NotFound > div:nth-child(3) a:hover,
.NotFound > div:nth-child(3) a:focus {
	-webkit-animation: jitter 225ms ease-in-out 2 forwards;
	animation: jitter 225ms ease-in-out 2 forwards;
}
.NotFound > div:nth-child(3) a:hover .top use,
.NotFound > div:nth-child(3) a:focus .top use {
	fill: white;
}
.NotFound > div:nth-child(3) a:active .top use {
	fill: #b30000;
}

@-moz-document url-prefix() {
	.NotFound > div:nth-child(3) a:hover,
	.NotFound > div:nth-child(3) a:focus {
		animation: none;
	}
}
@-webkit-keyframes slideDown {
	0% {
		transform: translateY(-20%);
	}
	100% {
		transform: none;
	}
}
@keyframes slideDown {
	0% {
		transform: translateY(-20%);
	}
	100% {
		transform: none;
	}
}
@-webkit-keyframes slideUp {
	0% {
		transform: translateY(20%);
	}
	100% {
		transform: none;
	}
}
@keyframes slideUp {
	0% {
		transform: translateY(20%);
	}
	100% {
		transform: none;
	}
}
@-webkit-keyframes slideRight {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: none;
	}
}
@keyframes slideRight {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: none;
	}
}
@-webkit-keyframes slideLeft {
	0% {
		transform: translateX(50%);
	}
	100% {
		transform: none;
	}
}
@keyframes slideLeft {
	0% {
		transform: translateX(50%);
	}
	100% {
		transform: none;
	}
}
@-webkit-keyframes slideLeftSmall {
	0% {
		transform: translateX(10%);
	}
	100% {
		transform: none;
	}
}
@keyframes slideLeftSmall {
	0% {
		transform: translateX(10%);
	}
	100% {
		transform: none;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes slideUpFadeIn {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
@keyframes slideUpFadeIn {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
@-webkit-keyframes scaleXIn {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: none;
	}
}
@keyframes scaleXIn {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: none;
	}
}
@-webkit-keyframes zoomFadeIn {
	0% {
		opacity: 0;
		transform: translateZ(1000px);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes zoomFadeIn {
	0% {
		opacity: 0;
		transform: translateZ(1000px);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@-webkit-keyframes jitter {
	0% {
		transform: translateX(0px) translateY(0px);
		opacity: 1;
	}
	10% {
		transform: translateX(2px) translateY(2px);
		opacity: 0.8;
	}
	20% {
		transform: translateX(0px) translateY(0px);
		opacity: 0.47;
	}
	30% {
		transform: translateX(0px) translateY(2px);
		opacity: 0.3;
	}
	70% {
		transform: translateX(-1px) translateY(1px);
		opacity: 0.96;
	}
	80% {
		transform: translateX(0px) translateY(-2px);
		opacity: 0.9;
	}
	90% {
		transform: translateX(1px) translateY(-2px);
		opacity: 0.81;
	}
	100% {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}
@keyframes jitter {
	0% {
		transform: translateX(0px) translateY(0px);
		opacity: 1;
	}
	10% {
		transform: translateX(2px) translateY(2px);
		opacity: 0.8;
	}
	20% {
		transform: translateX(0px) translateY(0px);
		opacity: 0.47;
	}
	30% {
		transform: translateX(0px) translateY(2px);
		opacity: 0.3;
	}
	70% {
		transform: translateX(-1px) translateY(1px);
		opacity: 0.96;
	}
	80% {
		transform: translateX(0px) translateY(-2px);
		opacity: 0.9;
	}
	90% {
		transform: translateX(1px) translateY(-2px);
		opacity: 0.81;
	}
	100% {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}
