/** @format */

.portfolio .portfolio-item {
	margin-bottom: 30px;
}

.portfolio #portfolio-filters {
	padding: 0;
	margin: 0 auto 35px;
	list-style: none;
	text-align: center;
	background: #fff;
	border-radius: 50px;
	padding: 2px 15px;
}

.portfolio #portfolio-filters li {
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px 8px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: #272829;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active {
	color: #149ddd;
}

.portfolio #portfolio-filters li:last-child {
	margin-right: 0;
}

:root {
	--clr-neutral-900: hsl(207, 19%, 9%);
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-400: hsl(142, 90%, 61%);
}

.portfolio-wrap {
	color: var(--clr-neutral-100);
	padding: 8.5rem 0 0;
	background-size: contain !important;
	background-position: center top !important;
	background-repeat: no-repeat !important;
	max-width: 35ch;
	overflow: hidden;
	box-shadow: rgba(0, 200, 255, 0.25) 0 54px 55px, rgba(0, 200, 255, 0.12) 0 -12px 30px,
		rgba(0, 200, 255, 0.12) 0 4px 6px, rgba(0, 200, 255, 0.17) 0 12px 13px,
		rgba(0, 200, 255, 0.09) 0 -3px 5px;
	backdrop-filter: blur(5px);
	border-radius: 15px;
	border: 1.5px outset rgba(255, 123, 0, 0.25);
	transition: transform 0.5s ease;
}

.portfolio-wrap:hover,
.portfolio-wrap:focus-within {
	background: rgba(0, 255, 255, 0.2);
	transform: scale(1.05);
}

.portfolio-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(0 0% 0% / 0.2) 20%,
		hsl(0 0% 0% / 0.4) 40%,
		hsl(0 0% 0% / 0.6) 60%,
		hsl(0 0% 0% / 0.8) 80%,
		hsl(0 0% 0% / 1)
	);
}

.portfolio-item-title {
	position: relative;
	max-width: max-content !important;
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(0 0% 0% / 0.2) 20%,
		hsl(0 0% 0% / 0.4) 40%,
		hsl(0 0% 0% / 0.6) 60%,
		hsl(0 0% 0% / 0.8) 80%,
		hsl(0 0% 0% / 1)
	);
}

.portfolio-item-title::after {
	content: '';
	position: absolute;
	height: 4px;
	left: calc(var(--padding) * -1);
	bottom: -4px;
	width: calc(100% + var(--padding));
	background: var(--clr-neutral-400);
}

.portfolio-wrap:hover .portfolio-item-title::after,
.portfolio-wrap:focus-within .portfolio-item-title::after {
	transform: scaleX(1);
}

.portfolio-item-link {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: var(--clr-neutral-900);
	background-color: var(--clr-neutral-400);
	padding: 0.5em 1.25em;
	border-radius: 0.25rem;
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
	background-color: var(--clr-neutral-100);
}

@media (hover) {
	.portfolio-content {
		transform: translateY(62.5%);
		transition: transform 0.5s ease;
	}

	.portfolio-wrap {
		padding: 1rem 0 0;
	}

	.portfolio-wrap:hover .portfolio-content,
	.portfolio-wrap:focus-within .portfolio-content {
		transform: translateY(0);
		transition-delay: 500ms;
	}

	.portfolio-wrap:focus-within .portfolio-content {
		transition-duration: 0ms;
	}

	.portfolio-content > *:not(.portfolio-item-title) {
		opacity: 0;
		transition: opacity 0.5s linear;
	}

	.portfolio-wrap:hover .portfolio-content > *:not(.portfolio-item-title),
	.portfolio-wrap:focus-within .portfolio-content > *:not(.portfolio-item-title) {
		opacity: 1;
		transition-delay: 1000ms;
	}

	.portfolio-item-title::after {
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.5s ease;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
