/** @format */

.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	width: 300px;
}

.swiper-slide img {
	display: block;
	width: 100%;
}

.swiper-slide .tech-item {
	text-align: center;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
		rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.tech-item-content {
	padding: 10px;
}
