/** @format */

.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper {
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.swiper-slide {
	width: 300px;
	height: 400px;
	text-align: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
}

.swiper-slide h3 {
	padding: 10px;
}
