<!-- ======= Contact Me Section ======= -->
<section id="contact" class="contact">
	<div class="container">

		<div class="section-title">
			<span>Contact Me</span>
			<h2>Contact Me</h2>
		</div>

		<div class="row">

			<div class="col-lg-6">

				<div class="row">
					<div class="col-md-12">
						<div class="info-box">
							<i class="bx bx-share-alt"></i>
							<h3>Social Profiles</h3>
							<div class="social-links">
								<a href="https://github.com/koushikpuppala" aria-label="Github"
									class="Github bx bxl-github"></a>
								<a href="https://twitter.com/puppala_koushik" aria-label="Twitter"
									class="twitter bx bxl-twitter"></a>
								<a href="https://facebook.com/puppalakoushik" aria-label="Facebook"
									class="facebook bx bxl-facebook"></a>
								<a href="https://instagram.com/koushikpuppala" aria-label="Instagram"
									class="instagram bx bxl-instagram"></a>
								<a href="https://linkedin.com/in/koushikpuppala" aria-label="Linkedin"
									class="linkedin bx bxl-linkedin"></a>
								<a href="https://gitlab.com/koushikpuppala/" aria-label="Gitlab"
									class="gitlab bx bxl-gitlab"></a>
							</div>
						</div><i class=""></i>
					</div>
					<div class="col-md-12">
						<div class="info-box mt-4">
							<i class="bx bx-envelope"></i>
							<h3>Email Me</h3>
							<p><a style="color: black;"
									href="mailto:contact@koushikpuppala.live">contact@koushikpuppala.live</a></p>
						</div>
					</div>
				</div>

			</div>

			<div class="col-lg-6"
				style="border-radius: 20px;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;">
				<form action="/" method="POST" role="form" class="form-floating needs-validation" novalidate>
					<div class="row g-2" style="margin-top: 10px;">
						<div class="col-md form-floating">
							<input type="text" class="form-control" id="Name" name="Name" placeholder="Your Name"
								required>
							<label for="Name">Your Name</label>
						</div>
						<div class="col-md form-floating">
							<input type="email" class="form-control" id="Email" name="Email" placeholder="Your Email"
								required>
							<label for="Email">Your Email</label>
						</div>
					</div>
					<div class="form-floating mt-3">
						<input type="text" class="form-control" id="Subject" name="Subject" placeholder="Enter Subject"
							required>
						<label for="Subject">Enter Subject</label>
					</div>
					<div class="form-floating mt-3">
						<textarea class="form-control" id="Message" name="Message" placeholder="Enter Message"
							style="height: 175px;" required></textarea>
						<label for="Message">Tell what you want</label>
					</div>
					<div style="margin: 10px;text-align: center;">
						<button class="hvr-float-shadow btn btn-outline-success" type="submit">
							Send Message
						</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</section>
<!-- End Contact Me Section -->

</main>
<!-- End #main -->
