<!-- ======= Footer ======= -->
<footer id="footer">
	<div class="container">
		<h3>Koushik Puppala</h3>
		<div class="social-links">
			<a href="https://www.github.com/puppala-koushik" class="Github"><i class="bx bxl-github"></i></a>
			<a href="https://twitter.com/puppala_koushik" class="twitter"><i class="bx bxl-twitter"></i></a>
			<a href="https://www.facebook.com/puppalakoushik" class="facebook"><i class="bx bxl-facebook"></i></a>
			<a href="https://www.instagram.com/koushikpuppala" class="instagram"><i class="bx bxl-instagram"></i></a>
			<a href="https://www.linkedin.com/in/puppalakoushik" class="linkedin"><i class="bx bxl-linkedin"></i></a>
		</div>
		<div class="copyright">
			&copy; Copyright <strong><span>Puppala Koushik</span></strong>. All Rights Reserved
		</div>
		<div class="credits">
			Designed by <a href="https://github.com/puppala-koushik/puppala-koushik.github.io">Puppala Koushik</a>
		</div>
	</div>
</footer>
<!-- End Footer -->

<a href="" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/vendor/counterup/counterup.min.js"></script>
<script src="/vendor/venobox/venobox.min.js"></script>
<script src="/vendor/typed.js/typed.min.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>