<!-- ======= Footer ======= -->
<footer id="footer">
	<div class="container">
		<h3>Koushik Puppala</h3>
		<div class="social-links">
			<a href="https://github.com/puppala-koushik" aria-label="Github" class="Github bx bxl-github"></a>
			<a href="https://twitter.com/puppala_koushik" aria-label="Twitter" class="twitter bx bxl-twitter"></a>
			<a href="https://www.facebook.com/puppalakoushik" aria-label="Facebook"
				class="facebook bx bxl-facebook"></a>
			<a href="https://www.instagram.com/koushikpuppala" aria-label="Instagram"
				class="instagram bx bxl-instagram"></a>
			<a href="https://www.linkedin.com/in/puppalakoushik" aria-label="Linkedin"
				class="linkedin bx bxl-linkedin"></a>
			<a href="https://gitlab.com/puppalakoushik/" aria-label="Gitlab" class="gitlab bx bxl-gitlab"></a>
			<a href="mailto:contact@koushikpuppala.live" aria-label="Email" class="envelope bx bx-envelope"></a>
		</div>
		<div class="copyright">
			&copy; Copyright <a href="https://koushikpuppala.live/KOUSHIK_LICENSE" target="_blank">Koushik Puppala</a>.
			All Rights Reserved
		</div>
	</div>
</footer>
<!-- End Footer -->

<a href="#hero" value="#hero" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Main JS File -->
<script src="/js/all.min.js"></script>
<script src="/js/helper/index.js" defer></script>
<script>
</script>


</body>

</html>