<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#764ABC" />
		<link rel="manifest" href="/js/main.webmanifest">

		<!--Title of the page-->
		<title><%= TITLE %></title>

		<!-- Search Engine tags -->
		<meta name='description' content='<%= DESCRIPTION %>'>
		<meta name='tag' content='<%= KEYWORDS %>'>
		<meta name='keywords' content='<%= KEYWORDS %>'>

		<!-- Favicons -->
		<link href="/img/koushik.webp" rel="icon">
		<link href="/img/koushik.webp" rel="apple-touch-icon">

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
			rel="stylesheet">

		<script async src="https://arc.io/widget.min.js#ZnURt9ra"></script>

		<!-- Vendor CSS Files -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
		<link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
		<link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
		<link href="/vendor/venobox/venobox.css" rel="stylesheet">

		<!-- Bootstrap Core CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

		<!-- Main CSS File -->
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/hover-min.css" rel="stylesheet">

		<% if(success) { %>
			<meta http-equiv="refresh" content="5; url=https://koushikpuppala.live" />
			<% } %>

				<% if((typeof alert !='undefined' ) || (success) ) { %>

					<style>
						:root {
							background: #444444;
						}
					</style>

					<% } %>