<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

	<!-- ======= .nav-menu ======= -->

	<div class="container">
		<a class="navbar-brand js-scroll" href="/" style="color: red; font-style: italic;">
			<img src="/img/logo.webp" alt="Puppala Koushik" width="300px">
		</a>
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault"
			aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation"></button>
	</div>
	<nav class="nav-menu d-none d-lg-block">
		<ul>
			<li class="active"><a href="#hero">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
		<!-- .nav-menu -->

</header>
<!-- End Header -->