*,
*::after,
*::before {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
	::-webkit-scrollbar {
		width: 7.5px;
	}
	::-webkit-scrollbar-thumb {
		background-color: rgba(0, 225, 255, 0.5);
		border-radius: 15px;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: rgb(0, 225, 255);
		border-radius: 15px;
	}
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 7.5px rgb(33, 33, 33);
		background-color: rgb(34, 34, 34);
		border-radius: 15px;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	/* color: #272829;
	color: #272829; */
	color: rgb(182, 182, 182);
	background: rgb(34, 34, 34);
}

a {
	color: #149ddd;
	text-decoration: none;
}

a:hover {
	color: #37b3ed;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #149ddd;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #2eafec;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

#hero {
	width: 100%;
	height: 100vh;
	background: url('/images/other/Header.webp') no-repeat center center fixed;
	background-size: cover;
}

#hero:before {
	content: '';
	background: rgba(5, 13, 24, 0.3);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#hero .hero-container {
	position: relative;
	z-index: 2;
	min-width: 300px;
}

#hero h1 {
	margin: 0 0 10px;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
}

#hero p {
	color: #fff;
	margin-bottom: 50px;
	font-size: 26px;
	font-family: 'Poppins', sans-serif;
}

#hero p span {
	color: #fff;
	padding-bottom: 4px;
	letter-spacing: 1px;
	border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}
	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background: rgb(34, 34, 34);
}

.section-title {
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #006aff;
}

.section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #00aeff;
	bottom: 0;
	left: 0;
}

.section-title p {
	margin-bottom: 0;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	padding: 0 15px;
	background: #040b14;
	overflow-y: auto;
}

#header .profile img {
	margin: 15px auto;
	display: block;
	width: 120px;
	border: 8px solid #2c2f3f;
}

#header .profile h1 {
	font-size: 24px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	-moz-text-align-last: center;
	text-align-last: center;
	font-family: 'Poppins', sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
	color: #fff;
	text-decoration: none;
}

#header .profile .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#header .profile .social-links a:hover {
	background: #149ddd;
	color: #fff;
	text-decoration: none;
}

#main {
	margin-left: 300px;
}

@media (max-width: 1199px) {
	#header {
		left: -300px;
	}
	#main {
		margin-left: 0;
	}
}

.nav-menu {
	padding: 30px 0 0;
}

.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #a8a9b4;
	padding: 12px 15px;
	margin-bottom: 8px;
	transition: 0.3s;
	font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
	font-size: 24px;
	padding-right: 8px;
	color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
	text-decoration: none;
	color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
	color: #149ddd;
}

.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	background-color: #149ddd;
	color: #fff;
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	border-radius: 50px;
	cursor: pointer;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active #header {
	left: 0;
}
#footer {
	padding: 15px;
	color: #f4f6fd;
	font-size: 14px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 300px;
	z-index: 9999;
	background: #040b14;
}

#footer .copyright {
	text-align: center;
}

#footer .credits {
	padding-top: 5px;
	text-align: center;
	font-size: 13px;
	color: #eaebf0;
}

@media (max-width: 1199px) {
	#footer {
		position: static;
		width: auto;
		padding-right: 20px 15px;
	}
}
.about .content h3 {
	font-weight: 700;
	font-size: 26px;
	color: rgb(0, 106, 255);
}

.about .content ul {
	list-style: none;
	padding: 0;
}

.about .content ul li {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.about .content ul strong {
	margin-right: 10px;
}

.about .content ul i {
	font-size: 16px;
	margin-right: 5px;
	color: rgb(0, 174, 255);
	line-height: 0;
}

.about .content p:last-child {
	margin-bottom: 0;
}

.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(
		center,
		ellipse,
		rgba(0, 0, 0, 0.35) 0,
		rgba(0, 0, 0, 0) 80%
	);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:active,
.hvr-float-shadow:focus,
.hvr-float-shadow:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.hvr-float-shadow:active:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:hover:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.skills .progress {
	height: 60px;
	display: block;
	background: none;
	border-radius: 0;
}
.skills .progress .skill {
	padding: 0;
	margin: 0 0 6px;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	color: #ffbb00;
}
.skills .progress .skill .val {
	float: right;
	font-style: normal;
}
.skills .progress-bar-wrap {
	background: #222;
	height: 10px;
}
.skills .progress-bar {
	width: 1px;
	height: 10px;
	transition: 0.9s;
	background-color: #00f7ff;
}
/*-------------------------*/
.portfolio .portfolio-item {
	margin-bottom: 2.5vw;
}

:root {
	--clr-neutral-900: hsl(207, 19%, 9%);
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-400: hsl(142, 90%, 61%);
}

.portfolio-wrap {
	justify-content: center !important;
	text-align: center;
	align-items: center;
	padding: 1rem 0 0;
}

.portfolio-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(0 0% 0% / 0.2) 20%,
		hsl(0 0% 0% / 0.4) 40%,
		hsl(0 0% 0% / 0.6) 60%,
		hsl(0 0% 0% / 0.8) 80%,
		hsl(0 0% 0% / 1)
	);
}

.portfolio-item-link {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: var(--clr-neutral-900);
	background-color: var(--clr-neutral-400);
	padding: 0.5em 1.25em;
	border-radius: 0.25rem;
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
	background-color: var(--clr-neutral-100);
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: smooth !important;
	}
}

.modal-content,
.form-control,
input,
select,
textarea,
textarea:focus,
input:focus {
	border: 1px solid #2c2f3f;
	background-color: #222 !important;
	color: #00ffff !important;
}

.swiper {
	width: 100%;
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

.swiper-slide {
	overflow: hidden;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border-radius: 12px;
	border: 1px ridge rgba(0, 0, 0, 0.5);
	width: 310px !important;
	/* height: 410px; */
	text-align: center;
}

.swiper-slide img {
	padding: 5px;
	display: block;
}
.flip {
	--glow-color: rgb(176, 208, 255);
	--glow-spread-color: rgba(123, 180, 255, 0.781);
	position: relative;
}

.flip:hover {
	transform: scale(1.05);
}

.flip > .front,
.flip > .back {
	text-align: center;
	display: flex;
	backface-visibility: hidden;
	transition-timing-function: cubic-bezier(0.35, 1, 0.64, 1.275);
	transition-duration: 0.5s;
	transition-property: transform, opacity;
	border: 2.5px outset rgba(0, 255, 255, 0.75);
}

.flip > .front {
	transform: rotateY(0deg);
}

.flip > .back {
	position: absolute;
	opacity: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transform: rotateY(-180deg);
}

.flip:hover > .front {
	transform: rotateY(180deg);
}

.flip:hover > .back {
	opacity: 1;
	transform: rotateY(0deg);
	-webkit-box-shadow: 0 0 1em 0.25em var(--glow-color), 0 0 4em 2em var(--glow-spread-color),
		inset 0 0 0.75em 0.25em var(--glow-color);
	box-shadow: 0 0 1em 0.25em var(--glow-color), 0 0 4em 2em var(--glow-spread-color),
		inset 0 0 0.75em 0.25em var(--glow-color);
}

.flip.flip_vertical > .back {
	transform: rotateX(-180deg);
}

.flip.flip_vertical:hover > .front {
	transform: rotateX(180deg);
}

.flip.flip_vertical:hover > .back {
	transform: rotateX(0deg);
}

.flip {
	position: relative;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 1em;
	max-width: 25em;
	width: 100%;
	height: auto;
}

.flip > .front,
.flip > .back {
	display: flex;
	flex-direction: column;
	color: white;
	background-size: cover !important;
	height: 14rem;
	padding: 1em 1.75em;
	border-radius: 0.75rem;
}

.flip > .front p,
.flip > .back p {
	margin-top: auto;
	font-size: 0.9125rem;
	line-height: 160%;
	color: #999;
}

.flip > .front .buttons,
.flip > .back .buttons {
	margin-top: auto;
}

.flip > .front .buttons .cta,
.flip > .back .buttons .cta {
	position: relative;
	padding: 8px 12px;
	transition: all 0.2s ease;
	border: none;
	background: none;
}

.flip > .front .buttons .cta:before,
.flip > .back .buttons .cta:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: #b1dae7;
	width: 100%;
	height: 2.5rem;
	border-radius: 1.5rem;
	transition: all 0.3s ease;
}

.flip > .front .buttons .cta span,
.flip > .back .buttons .cta span {
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.05em;
	color: #0088ff;
}

.flip > .front .buttons .cta svg,
.flip > .back .buttons .cta svg {
	position: relative;
	top: 0;
	margin-left: 10px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #0088ff;
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all 0.3s ease;
}

.flip > .front .buttons .button_learn_more,
.flip > .back .buttons .button_learn_more {
	position: relative;
	display: inline-block;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: 'Ubuntu', sans-serif;
}

.flip > .front .buttons .button_learn_more.learn_more,
.flip > .back .buttons .button_learn_more.learn_more {
	width: 10.5rem;
	height: auto;
}

.flip > .front .buttons .button_learn_more.learn_more .circle,
.flip > .back .buttons .button_learn_more.learn_more .circle {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 100%;
	height: 2.5rem;
	background: #282936;
	border-radius: 1.5rem;
}

.flip > .front .buttons .button_learn_more.learn_more .circle .icon,
.flip > .back .buttons .button_learn_more.learn_more .circle .icon {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

.flip > .front .buttons .button_learn_more.learn_more .circle .icon.arrow,
.flip > .back .buttons .button_learn_more.learn_more .circle .icon.arrow {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}

.flip > .front .buttons .button_learn_more.learn_more .circle .icon.arrow::before,
.flip > .back .buttons .button_learn_more.learn_more .circle .icon.arrow::before {
	position: absolute;
	content: '';
	top: -0.29rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.flip > .front .buttons .button_learn_more.learn_more .button_text,
.flip > .back .buttons .button_learn_more.learn_more .button_text {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.5rem 0;
	margin: 0 0 0 1.85rem;
	color: #d9b0ff;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
}

@media (hover) {
	.flip > .front .buttons .cta:before,
	.flip > .back .buttons .cta:before {
		width: 2.5rem;
	}
	.flip > .front .buttons .cta:hover:before,
	.flip > .back .buttons .cta:hover:before {
		width: 100%;
		background: #b1dae7;
	}
	.flip > .front .buttons .cta:hover svg,
	.flip > .back .buttons .cta:hover svg {
		transform: translateX(0);
	}
	.flip > .front .buttons .cta:active,
	.flip > .back .buttons .cta:active {
		transform: scale(0.95);
	}
	.flip > .front .buttons .button_learn_more.learn_more .circle,
	.flip > .back .buttons .button_learn_more.learn_more .circle {
		width: 2.5rem;
	}
	.flip > .front .buttons .button_learn_more:hover .circle,
	.flip > .back .buttons .button_learn_more:hover .circle {
		width: 100%;
	}
	.flip > .front .buttons .button_learn_more:hover .circle .icon.arrow,
	.flip > .back .buttons .button_learn_more:hover .circle .icon.arrow {
		background: #fff;
		-webkit-transform: translate(1rem, 0);
		-ms-transform: translate(1rem, 0);
		transform: translate(1rem, 0);
	}
	.flip > .front .buttons .button_learn_more:hover .button_text,
	.flip > .back .buttons .button_learn_more:hover .button_text {
		color: #fff;
	}
}

.flip .front .text_shadow {
	position: relative;
}

.text_shadow {
	width: max-content;
	font-size: 4.5vmin;
	background: linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.2) 20%,
		rgba(0, 0, 0, 0.4) 40%,
		rgba(0, 0, 0, 0.6) 60%,
		rgba(0, 0, 0, 0.8) 80%,
		black
	);
	color: #00eeff;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04),
		3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04),
		0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
		7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04),
		0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04),
		12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04),
		0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04),
		17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04),
		1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.portfolio-button {
	text-decoration: none;
	position: absolute;
	border: none;
	font-size: 14px;
	font-family: inherit;
	color: #fff;
	width: max-content;
	height: 3em;
	line-height: 2em;
	text-align: center;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 300%;
	border-radius: 30px;
	z-index: 1;
}

.portfolio-button:hover {
	animation: ani 8s linear infinite;
	border: none;
}

@keyframes ani {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 400%;
	}
}

.portfolio-button:before {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 35px;
	transition: 1s;
}

.portfolio-button:hover::before {
	filter: blur(20px);
}

.portfolio-button:active {
	background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}
