@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

*,
*::after,
*::before {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}

	::-webkit-scrollbar {
		width: 7.5px;
	}
	::-webkit-scrollbar-thumb {
		background-color: rgba(0, 225, 255, 0.5);
		border-radius: 15px;
		&:hover {
			background-color: rgb(0, 225, 255);
			border-radius: 15px;
		}
	}
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 7.5px grey;
		background-color: rgba(30, 155, 204, 0.1);
		border-radius: 15px;
	}
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}
	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #272829;
	color: #555;
	background: #222;
	text-align: center;
	font-family: 'Roboto Mono';
}

section {
	padding: 60px 0;
	overflow: hidden;
}

a {
	color: #149ddd;
	text-decoration: none;
	&:hover {
		color: #37b3ed;
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-family: 'Raleway', sans-serif;
}

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #149ddd;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
	i {
		font-size: 28px;
		color: #fff;
		line-height: 0;
	}
	&:hover {
		background: #2eafec;
		color: #fff;
	}
	&.active {
		visibility: visible;
		opacity: 1;
	}
}

#hero {
	width: 100%;
	height: 100vh;
	background: url('/images/other/Header.webp') no-repeat center center fixed;
	background-size: cover;
	&:before {
		content: '';
		background: rgba(5, 13, 24, 0.3);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.hero-container {
		position: relative;
		z-index: 2;
		min-width: 300px;
	}
	h1 {
		margin: 0 0 10px;
		font-size: 64px;
		font-weight: 700;
		line-height: 56px;
		color: #fff;
	}
	p {
		color: #fff;
		margin-bottom: 50px;
		font-size: 26px;
		font-family: 'Poppins', sans-serif;
		span {
			color: #fff;
			padding-bottom: 4px;
			letter-spacing: 1px;
			border-bottom: 3px solid #149ddd;
		}
	}
	h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}
.section-bg {
	background: #f5f8fd;
}
.section-title {
	padding-bottom: 30px;
	h2 {
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		color: #173b6c;
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 50px;
			height: 3px;
			background: #149ddd;
			bottom: 0;
			left: 0;
		}
	}
	p {
		margin-bottom: 0;
	}
}
