@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
	::-webkit-scrollbar {
		width: 0;
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #040404;
	color: #fff;
	position: relative;
}

body::before {
	content: '';
	position: fixed;
	background: #040404 url('../src/image/Background.webp') top right no-repeat;
	transform: rotate(180deg);
	background-size: cover;
	left: 0;
	right: 0;
	top: 0;
	height: 100vh;
	z-index: -1;
}

@media (min-width: 1024px) {
	body::before {
		background-attachment: fixed;
	}
}

a {
	color: #18d26e;
	text-decoration: none;
}

a:hover {
	color: #35e888;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

section {
	overflow: hidden;
	position: absolute;
	width: 100%;
	top: 140px;
	bottom: 100%;
	opacity: 0;
	transition: ease-in-out 0.4s;
	z-index: 2;
}

section.section-show {
	top: 100px;
	bottom: auto;
	opacity: 1;
	padding-bottom: 45px;
}

section .container {
	background: rgba(0, 0, 0, 0.9);
	padding: 30px;
}

@media (max-width: 768px) {
	section {
		top: 120px;
	}
	section.section-show {
		top: 80px;
	}
}

.section-title h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 20px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	font-family: 'Poppins', sans-serif;
}

.section-title h2::after {
	content: '';
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #4ceb95;
	margin: 4px 10px;
}

.section-title p {
	margin: 0;
	margin: -15px 0 15px 0;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}
